<div class="row">
  <div class="text-center col-md-3">
    <p>
      This column could contain filters, for example
    </p>
    <button {{action "refresh"}} class="btn btn-success btn-lg" > <span class="glyphicon glyphicon-refresh"></span>Refresh events</button>
  </div>
  <div class="col-md-9">
    {{#each events as | eventEntry|}}
    {{event-entry title='my-entry' eventEntry=eventEntry}}
    {{/each}}
  </div>
</div>
